*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
min-width: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.block{
    margin-top: 50px;
width: 400px;
height: 400px;
border: 2px solid black;
}
.link{
font-size: 45px;
text-transform: uppercase;
text-decoration: none;
color: white;
display: flex;
justify-content: center;
}
.link:hover{
color: indigo;
transition: 0.5s;

}